<div class="board-container" cdkDropListGroup>
  @for (piece of this.game.board; track $index) {
  <div class="square"
      [class.black]="Utils.isSquareBlack($index)"
      cdkDropList
      [cdkDropListData]="$index"
      [cdkDropListSortingDisabled]="true"
      (cdkDropListDropped)="onDrop($event)">
    <div class="debug"> <h2> {{ $index }} </h2> </div>
    @if (piece) {
      <div class="piece-container" cdkDrag [cdkDragData]="piece">
        <chess-piece [fen]="piece" />
        <div *cdkDragPlaceholder class="placeholder"></div>
      </div>
    }


    @if (Utils.getCoord($index).column === 0) {
      <span class="label rank">
        {{ Utils.getCoord($index).row + 1 }}
      </span>
    }

    @if (Utils.getCoord($index).row === 0) {
      <span class="label file">
        {{ Utils.getColumLabel(Utils.getCoord($index).column) }}
      </span>
    }

  </div>
  }

</div>
